<div class="container text-center">
  <h2><%= @question %></h2>
  <p>- You</p>
</div>

<div class="container text-center">
  <h2><%= @answer %></h2>
  <p>- Coach</p>
  <a href="/ask">Ask another stupid question</a>
</div>

