<div class="container text-center" style="margin-top: 50px">
<form action="/answer" method="get" class="form-inline">
  <div class="row">
  <label for="question">Stupid coach is ready to do stupid stuff</label>
  </div>
  <div class="row">
  <input type="text" placeholder="Question ?" name="query" id="question" class="form-control">
  <input type="submit" value="Ask me" class="btn btn-primary">
  </div>
</form>
</div>
